<header>
    <mav class="navbar">
        <% if (user) { %>
        <% } else { %>
        <h1 class="m-auto"><a href="/"><img src="assets/logovector.svg" alt="" class="navbar-brand"></a></h1>
        <% } %>
    </mav>
</header>